body{
    height: 100vh;
    font-family: Impact;
    font-weight: 500;
}
div{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius:  10px;
}
.container{
    border: 4px solid blue;
    align-items: center;
}